* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}
.App {
    min-height: 100vh;
    display: grid;
    grid-template: 
    "header header header" 7%
    "sidebar navlinks navlinks" 5%
    "sidebar video-collections-container video-collections-container" 1fr/15% 1fr 1fr;
}

.pages-side-bar {
    grid-area: sidebar;
    height: 100%;;
}

.header-links-container {
    grid-area: navlinks;
}

.pages-header {
    grid-area: header;
}



.pages-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
}

.header-left-section {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-youtube-logo {
    width: 30px;
    height: 30px;
}

.youtube-logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.youtube-logo-text {
    font-weight: bold;
    font-size: 1.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-mid-section {
    width: 35%;
}
.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar-container input {
    border-radius: 20px 0px 0px 20px;
    padding: 12px;
    outline: solid 1px rgb(175, 174, 174);
    border: none;
    width: 100%;
}

.search-bar-container button {
    border: none;
    outline: solid 1px rgb(175, 174, 174);
    border-radius: 0px 20px 20px 0px;
    padding: 5.5px;
    width: 10%;
    background-color: rgb(240, 234, 234);
}

.search-bar-container .search-logo {
    width: 25px;
    height: 25px;
}

.microphone-logo {
    width: 20px;
    margin-left: 20px;
    height: 20px;
}


.header-right-section {
    width: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    gap: 25px;
}


.user-avatar-icon {
    width: 30px;
    height: 30px;
}


.header-links-container ul {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 25px;
    overflow: auto;
    height: 100%;
}
.header-links-container ul::-webkit-scrollbar {
    display: none;
}
.header-links-container ul li {
    list-style-type: none;
    background: #f2f2f2;
    padding: 10px;
    height: 30px;
    max-height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    min-width: fit-content;
    max-width: 150px;
    text-align: center;
    font-size: 1rem;
}

.header-links-container ul li p {
    width: 100%;
    height: 100%;
}

.header-links-container ul li.active {
    background-color: black;
    color: white;
}

.header-links-container ul li:hover {
    cursor: pointer;
    background: black;
    color: white;
}

/* video collections  */
.video-collections-container {
    grid-area: video-collections-container;
    display: flex;  
    padding: 20px 50px;
    gap: 20px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.video-box {
    width: 30%;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnail-container {
    width: 100%;
    height: 75%;
    border-radius: 15px;
}

.video-details-container {
    display: flex;
    height: 25%;
    flex-direction: row;
}

.channel-profile-container {
    width: 12%;
}

.post-details-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channel-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.youtube-post-title {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: -1px;
}

.post-channel-name {
    display: flex;
    font-size: .9rem;
    color: #606060;
}

.viewcount-container {
    display: flex;
    align-items: center;
}

.viewcount-container span {
    height: 100%;
}

.viewcount-container p {
    color: gray;
    font-size: .85rem;
}