* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}
.App {
    min-height: 100vh;
    display: grid;
    grid-column-gap: 30px;
    width: 100%;
    height: 100vh;
    grid-template: 
    "header header header" 7%
    "sidebar navlinks navlinks" 3%
    "sidebar video-collections-container video-collections-container" 1fr/12% 1fr 1fr;
}

/* header links container  */
.header-links-container {
    grid-area: navlinks;
    position: fixed;
    top: 7%;
    right: 5%;
    z-index: 100;
    max-width: 90%;
    height: 5%;
    background: white;
}

/* header section  */
.pages-header {
    grid-area: header;
    height: 70px;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0%;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
}

.header-left-section {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-youtube-logo {
    width: 30px;
    height: 30px;
}

.youtube-logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.youtube-logo-text {
    font-weight: bold;
    font-size: 1.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-mid-section {
    width: 32%;
}
.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar-container input {
    border-radius: 20px 0px 0px 20px;
    padding: 12px;
    outline: solid 1px rgb(215, 214, 214);
    border: none;
    width: 100%;
}

.search-bar-container button {
    border: none;
    outline: solid 1px rgb(215, 214, 214);
    border-radius: 0px 20px 20px 0px;
    padding: 5.5px;
    width: 12%;
    background-color: rgb(251, 247, 247);
}

.search-bar-container .search-logo {
    width: 25px;
    height: 25px;
}

.microphone-logo {
    width: 20px;
    margin-left: 20px;
    height: 20px;
}


.header-right-section {
    width: 7.5%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 90%;
    gap: 25px;
}


.user-avatar-icon {
    width: 30px;
    height: 30px;
}
.create-video-icon, .notification-icon{
    width: 23px;
    height: 23px;
}



.header-links-container ul {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    overflow: auto;
    height: 100%;
}
.header-links-container ul::-webkit-scrollbar {
    display: none;
}
.header-links-container ul li {
    list-style-type: none;
    background: #f2f2f2;
    padding: 10px;
    height: 30px;
    max-height: 40px;
    padding: 5px 10px;
    border-radius: 7px;
    min-width: fit-content;
    max-width: 150px;
    text-align: center;
    font-size: 1rem;
}

.header-links-container ul li p {
    width: 100%;
    height: 100%;
}

.header-links-container ul li.active {
    background-color: black;
    color: white;
}

.header-links-container ul li:hover {
    cursor: pointer;
    background: #eceaea;
}



/* video collections  */
.video-collections-container {
    grid-area: video-collections-container;
    display: flex;  
    gap: 20px;
    margin-left: 50px;
    justify-content: center;
    margin-top: 50px;
    flex-direction: row;
    width: 95%;
    height: fit-content;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.video-box {
    width: 375px;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
}

.video-box:hover {
    cursor: pointer;
    border-radius: 0px;
}

.thumbnail-container {
    width: 100%;
    height: 75%;
    border-radius: 15px;
}

.video-details-container {
    display: flex;
    min-height: 25%;
    max-height: fit-content;
    flex-direction: row;
}

.channel-profile-container {
    width: 12%;
}

.post-details-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    max-height: fit-content;
    flex-direction: column;
    gap: 5px;
}

.channel-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.youtube-post-title {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: -1px;
}

.post-channel-name {
    display: flex;
    font-size: .9rem;
    color: #606060;
}

.viewcount-container {
    display: flex;
    align-items: center;
}

.viewcount-container span {
    height: 100%;
}

.viewcount-container p {
    color: gray;
    font-size: .85rem;
}

/* page side bar */

.page-side-bar {    
    grid-area: sidebar;
    height: 94%;
    overflow: auto;
    position: fixed;
    width: 13%;
    top: 6.9%;
}

.page-side-bar::-webkit-scrollbar{
    display: none;
}

hr {
    border: 1px solid rgb(249, 246, 246);
    width: 95%;
}

.icon-container {
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-container ul {
    display: flex;
    padding: 10px;    
    flex-direction: column;
    gap: 5px;
    width: 100%;
}


.icon-container ul li {
    list-style-type: none;
    padding: 8px;
    border-radius: 10px;
}

.icon-container ul li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.icon-container span {
    width: 20%;
    display: flex;
    align-items: center;
}
.icon-container ul li a {
    display: flex;
    color: black;
    justify-content:flex-start;
    align-items: center;
    text-decoration: none;
}

.icon-container ul li.active {
    background-color: #f2f2f2;
}

.sidebar-icon {
    font-size: 1.3rem;
    width: 50%;
    height: 50%;
}


.icon-container ul h3 {
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10px;
    font-size: 1rem;
}

.subscription-icon{
    padding: 5px;
    border-radius: 50%;
    width: 65%;
    height: 65%;
}

.subscription-icon.icon-1 {
    background-color: rgb(182, 67, 208);
}

.subscription-icon.icon-2 {
    background-color: rgb(77, 59, 212);
}

.subscription-icon.icon-3 {
   padding: 0;
   margin: 0;
}

.subscription-icon.icon-4 {
    background-color: rgb(182, 67, 208);
}


.explore-icon {
    margin: 0;
    width: 55%;
    height: 55%;
    padding: 0;
}

.settings-icon {
    width: 60%;
}

/* footer  */
footer {
    height: 240px;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-direction: row;
}
footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .75rem;
}

@media (max-width: 1100px) {
    .pages-header {
        height: 70px;
    }

    .App {
        max-width:1500px;
        height: 100vh;
    }
    .header-links-container {
        display: none;
    }
    
    .search-bar-container button {
        width: 50%;
    }
    .video-collections-container {
        width: fit-content;
        max-width: 95%;
        margin: 0;
        height: 100%;
        flex-wrap: wrap;
    }

    .header-right-section {
        width: 15%;
        padding: 0;
    }

    .page-side-bar {
        display: none;
    }
}
/* for mobile to tablet screensizes */

@media (max-width: 769px) {
    .header-right-section {
        width: 25%;
    }

    .header-mid-section {
        width: 33%;
    }

    .microphone-logo {
        display: none;
    }
}